{% extends 'base.html' %}
{% block conteudo %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <h5>Novo Orçamento</h5>
            <hr>
            <form id="orcamento-form" method="post" action="{{ url_for('orcamentos_editar', pedido_id=pedido['id']) if pedido else url_for('orcamentos_novo') }}" autocomplete="off">

                {% include 'partials/form_cliente.html' %}

                <hr>
                <div class="form-row">
                    <button type="button" class="btn btn-primary" id="abrir-modal-produto" data-toggle="modal" data-target="#modal-produto">Adicionar Produto</button>
                    <table id="tabela-produtos" class="table table-striped" border="1" cellpadding="5" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Preço Unitário</th>
                                <th>Quantidade</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="form-group">
                    <label>Valor Total do Orçamento:</label>
                    <span id="valor-final">R$ 0,00</span>
                </div>

                <input type="hidden" name="produtos_json" id="produtos_json">
                <input type="hidden" name="id_cliente" id="id_cliente" value="novo">
                <input type="hidden" name="status" id="status" value="{{ pedido.status if pedido else 'Orçamento' }}">
                <input type="hidden" name="next" value="{{ request.referrer }}">

                <hr>
                <div class="text-right">
                    <!-- <a class="btn btn-warning" onclick="gerarPDFviaFetch()" target="_blank">Imprimir</a> -->
                    <a class="btn btn-warning" href="{{ url_for('gerar_pdf_pedido', pedido_id=pedido['id'], tipo='orcamento') }}" target="_blank">Imprimir</a>

                    <button type="button" class="btn btn-info" onclick="gerarOrcamento()" {% if not pedido %}hidden{% endif %}>Gerar Pedido</button>
                    <a href="{{ url_for('pedidos_por_status', status='Orçamento') }}" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-success">Salvar Orçamento</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <script>
function gerarPDFviaFetch() {
    const form = document.getElementById("orcamento-form");
    const dados = new FormData(form);

    fetch("{{ url_for('gerar_pdf_pedido', pedido_id=pedido['id'], tipo='orcamento') }}", {
        method: "POST",
        body: dados
    })
    .then(response => response.blob())
    .then(blob => {
        const url = window.URL.createObjectURL(blob);
        window.open(url);  // Abre o PDF numa nova aba
    });
}
</script> -->

{% include 'partials/modal_produto_pedido.html' %}
{% include 'partials/scriptFormPedido.html' %}
{% include 'partials/scriptFormCliente.html' %}
{% endblock %}
