{% extends 'base.html' %}
{% block conteudo %}
    <div class="" style="display: flex; justify-content: space-between; align-items: center; padding-top: 20px; ">
        <h3>Produtos</h3>
        <!-- Botão para abrir o modal de novo produto -->
        <a href="#" class="btn btn-primary btn-sm" onclick="abrirModalProduto()">Cadastrar Novo Produto</a>
    </div>
    <hr>
    <table class="table table-striped" border="1" cellpadding="5" cellspacing="0">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col" style="width: 13%;">Preço de Custo</th>
                <th scope="col" style="width: 13%;">Preço de Venda</th>
                <th scope="col" >Observação</th>
                <th scope="col" style="width: 5%;"></th>
            </tr>
            </thead>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>R$ {{ '%.2f' % produto.preco_custo }}</td>
                    <td>R$ {{ '%.2f' % produto.preco_venda }}</td>
                    <td>{{ produto.observacao }}</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm" onclick="abrirModalProduto({{ produto.to_dict() }})">Editar</button>
                    </td>
                </tr>
            {% endfor %}
    </table>
   
    {% include 'partials/modal_novo_produto.html' %}

    <script>
    
    function abrirModalProduto(produto = null) {
        const modalLabel = document.getElementById('produtoModalLabel');
        const form = document.getElementById('produto-form');
        const idInput = document.getElementById('produto-id');
        const nomeInput = document.getElementById('nome');
        const precoCustoInput = document.getElementById('preco_custo');
        const precoVendaInput = document.getElementById('preco_venda');
        const observacaoInput = document.getElementById('observacao');

        if (produto) {
            modalLabel.textContent = 'Editar Produto';
            idInput.value = produto.id;
            nomeInput.value = produto.nome;
            precoCustoInput.value = produto.preco_custo;
            precoVendaInput.value = produto.preco_venda;
            observacaoInput.value = produto.observacao;
            form.action = "{{ url_for('produtos_novo') }}?editar=" + produto.id;
        } else {
            modalLabel.textContent = 'Cadastrar Produto';
            form.reset();
            form.action = "{{ url_for('produtos_novo') }}";
        }

        $('#produtoModal').modal('show');
    }
    </script>

{% endblock %}
