<!-- Modal Nova Despesa -->
<div class="modal fade" id="novaDespesaModal" tabindex="-1">
  <div class="modal-dialog">
    <form class="modal-content" method="POST" action="{{ url_for('despesas.novo') }}">
      <div class="modal-header">
        <h5 class="modal-title">Nova Despesa</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body form-row">
        <div class="form-group col-md-12">
          <label>Descrição</label>
          <textarea type="text" class="form-control" id="descricao" name="descricao" required></textarea>
        </div>
        <div class="form-group col-md-5">
          <label>Tipo</label>
          <select name="tipo" class="form-control" id="tipoDespesa">
            <option value="unico">Pagamento Único</option>
            <option value="recorrente">Recorrente</option>
          </select>
        </div>
        <div class="form-group col-md-4" id="data_v">
          <label>Data Vencimento</label>
          <input type="date" class="form-control" id="data_vencimento" name="data_vencimento" >
        </div>
        <div class="form-group col-md-4" id="dia_v">
          <label>Dia de Pagamento</label>
          <input type="number" class="form-control" name="diaPagamento" id="diaPagamento">
        </div>
        <div class="form-group col-md-3">
          <label>Parcelas</label>
          <input type="number" class="form-control" name="parcelas" min="1" value="1" id="parcelas">
        </div>
        
      

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" name="valor_fixo" id="valor_fixo">
            </div>
          </div>
          
            <input type="number" class="form-control" placeholder="Valor no Pagamento" id="valor" name="valor" step="0.01" required>
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </form>
  </div>
</div>

<script>
  const tipoDespesa = document.getElementById('tipoDespesa');
  const parcelasDespesa = document.getElementById('parcelas');
  const diaPagamento = document.getElementById('diaPagamento');
  const dataVencimento = document.getElementById('data_vencimento');
  var dataV = document.getElementById('data_v');
  var diaV = document.getElementById('dia_v');
  const vFixo = document.getElementById('valor_fixo');
  var valor = document.getElementById('valor');

  $('#novaDespesaModal').on('show.bs.modal', function () {
    document.getElementById('descricao').value='';
    tipoDespesa.value = 'unico';
    dataVencimento.value = null;
    diaPagamento.value='';
    parcelasDespesa.value=0;
    vFixo.checked = false;
    valor.value = '';
    atualizarCampos();
  });

  function atualizarCampos() {
    const tipo = tipoDespesa.value;

    if (tipo === 'unico') {
      parcelasDespesa.value = '1';
      parcelasDespesa.disabled = true;
      dataV.style.display = 'block';
      diaV.style.display = 'none';      
    } else if (tipo === 'recorrente') {
      parcelasDespesa.disabled = false;
      dataV.style.display = 'none';
      diaV.style.display = 'block';
    }

    const desativar = vFixo.checked;

    if(desativar){
      valor.value='';
      valor.disabled = desativar;
    } else{
      valor.disabled = desativar;
    }

  }
  document.getElementById('diaPagamento').addEventListener('input',function(){
    if (diaPagamento.value>31){
      diaPagamento.value=31;
    }else if(diaPagamento.value<1){
      diaPagamento.value='';
    }
  });
  document.getElementById('tipoDespesa').addEventListener('change',function(){atualizarCampos()});
  document.getElementById('valor_fixo').addEventListener('change',function(){atualizarCampos()});
</script>