

<script>
    var pedido = {{ pedido | tojson | safe }} || null;
    var produtosPedido = pedido && pedido.itens ? pedido.itens : [];
    var cliente = {{ cliente | tojson | safe }} || null;
    var produtos = {{ produtos | tojson | safe }} || [];
    var valorTotal;
    let indexEditando = null;  // variável de controle global

    function editarPedidoForm() {
        if (!pedido) return;

        $('#pedido-id').val(pedido.id);
        $('#status').val(pedido.status);
        $('#id_cliente').val(pedido.id_cliente);

        if (pedido.data_previsao_entrega) {
            $('#data_previsao_entrega').val(pedido.data_previsao_entrega.split('T')[0]);
        }

        // Se cliente estiver embutido no pedido
        /* if (pedido.cliente) {
            $('#nome').val(pedido.cliente.nome);
            $('#cpf_cnpj').val(pedido.cliente.cpf_cnpj);
            $('#email').val(pedido.cliente.email);
            $('#celular').val(pedido.cliente.celular);
            $('#endereco').val(pedido.cliente.endereco);
            $('#bairro').val(pedido.cliente.bairro);
            $('#cidade').val(pedido.cliente.cidade);
            $('#cep').val(pedido.cliente.cep);
            $('#uf').val(pedido.cliente.uf);
            $('#tipo').val(pedido.cliente.tipo);
        } */

        // Atualiza tabela de produtos

        //atualizarTabelaProdutos();
        produtosPedido = produtos;
    }

    document.getElementById('status').addEventListener('change', function() {
        const valorSelecionado = this.value;
        const inputContainer = document.getElementById('data_previsao_entrega');
        const mensagem = document.getElementById('data_previsao_entrega_mensagem');

        if (valorSelecionado === 'Rascunho') {
        inputContainer.disabled = true;
        mensagem.style.display = 'block';
        } else {
        inputContainer.disabled = false;
        mensagem.style.display = 'none';
        }
    });

    // Executa no carregamento da página também (opcional)
    window.addEventListener('DOMContentLoaded', function () {
        document.getElementById('status').dispatchEvent(new Event('change'));
    });


    $(document).ready(function () {
        atualizarTabelaProdutos();
        // Preenche cliente no formulário (edição)

        // Cliente autocomplete CNPJ
        $('#cpf_cnpj').on('input', function () {
            var termo = $(this).val();
            if (termo.length < 3) { $('#sugestoes-clientes').hide(); return; }
            $.getJSON("{{ url_for('clientes.buscar') }}", { q: termo }, function (res) {
                var html = '';
                res.forEach(function (c) {
                    html += '<div class="sugestao-cliente" data-json="' + encodeURIComponent(JSON.stringify(c)) + '">' +
                            '<strong>' + c.nome + '</strong><br>' +
                            '<small class="text-muted">' + c.cpf_cnpj + '</small>' +
                            '</div>';
                });
                $('#sugestoes-clientes').html(html).show();
            });
        });

        $('#cpf_cnpj').focusout(function () {
            setTimeout(function () { $('#sugestoes-clientes').hide(); }, 200);
        });

        $(document).on('click', '.sugestao-cliente', function () {
            const inputCPF_CNPJ = document.getElementById('cpf_cnpj');
            var c = JSON.parse(decodeURIComponent($(this).data('json')));
            $('#id_cliente').val(c.id);
            $('#nome').val(c.nome);
            $('#tipo').val(c.tipo);
            $('#cpf_cnpj').val(c.cpf_cnpj);
            $('#email').val(c.email);
            $('#celular').val(c.celular);
            $('#endereco').val(c.endereco);
            $('#numero').val(c.numero);
            $('#bairro').val(c.bairro);
            $('#cidade').val(c.cidade);
            $('#cep').val(c.cep);
            $('#uf').val(c.uf);
            $('#sugestoes-clientes').hide();
            inputCEP.classList.remove('is-invalid');
            inputCelular.classList.remove('is-invalid');
            inputCPF_CNPJ.classList.remove('is-invalid');
        });

        // Cliente autocomplete NOME
        $('#nome').on('input', function () {
            var termo = $(this).val();
            if (termo.length < 3) { $('#sugestoes-clientes_nome').hide(); return; }
            $.getJSON("{{ url_for('clientes.buscar') }}", { q: termo }, function (res) {
                var html = '';
                res.forEach(function (c) {
                    html += '<div class="sugestao-cliente" data-json="' + encodeURIComponent(JSON.stringify(c)) + '">' +
                        '<strong>' + c.nome + '</strong><br>' +
                        '<small class="text-muted">' + c.cpf_cnpj + '</small>' +
                        '</div>';
                });
                $('#sugestoes-clientes_nome').html(html).show();
            });
        });

        $('#nome').focusout(function () {
            setTimeout(function () { $('#sugestoes-clientes_nome').hide(); }, 200);
        });

        $(document).on('click', '.sugestoes-clientes_nome', function () {
            const inputCPF_CNPJ = document.getElementById('cpf_cnpj');
            var c = JSON.parse(decodeURIComponent($(this).data('json')));
            $('#id_cliente').val(c.id);
            $('#nome').val(c.nome);
            $('#tipo').val(c.tipo);
            $('#cpf_cnpj').val(c.cpf_cnpj);
            $('#email').val(c.email);
            $('#celular').val(c.celular);
            $('#endereco').val(c.endereco);
            $('#numero').val(c.numero);
            $('#bairro').val(c.bairro);
            $('#cidade').val(c.cidade);
            $('#cep').val(c.cep);
            $('#uf').val(c.uf);
            $('#sugestoes-clientes_nome').hide();
            inputCEP.classList.remove('is-invalid');
            inputCelular.classList.remove('is-invalid');
            inputCPF_CNPJ.classList.remove('is-invalid');
        });

        // Produto autocomplete
        $('#abrir-modal-produto').on('click', function () {
            $('#busca-produto').val('').focus();
            $('#preco-produto').val('');
            $('#quantidade-produto').val(1);
            $('#sugestoes-produtos').hide();
            $('#largura-produto').val('');
            $('#altura-produto').val('');
            document.getElementById('medida-produto').selectedIndex = 1;
            document.getElementById('calculo').checked = false;
        }); 

        $('#busca-produto').on('input', function () {
            var termo = $(this).val();
            if (termo.length < 2) { $('#sugestoes-produtos').hide(); return; }
            $.getJSON("{{ url_for('produtos.buscar') }}", { q: termo }, function (res) {
                var html = '';
                res.forEach(function (p) {
                    html += '<div class="sugestao-produto" data-json="'+encodeURIComponent(JSON.stringify(p))+'">' + p.nome + ' (R$ ' + p.preco_venda + ')</div>';
                });
                $('#sugestoes-produtos').html(html).show();
            });
        });

        $('#busca-produto').focusout(function () {
            setTimeout(function () { $('#sugestoes-produtos').hide(); }, 200);
        });

        $(document).on('click', '.sugestao-produto', function () {
            var p = JSON.parse(decodeURIComponent($(this).data('json')));
            $('#busca-produto').val(p.nome);
            $('#preco-produto').val(p.preco_venda);
            $('#sugestoes-produtos').hide();
        });

        // Adicionar produto
        $('#adicionar-produto').on('click', function () {
            //e.preventDefault();

            var nome = $('#busca-produto').val();
            var preco = parseFloat($('#preco-produto').val());
            var qtd = parseInt($('#quantidade-produto').val());

            if (document.getElementById('calculo').checked) {
                var largura = parseFloat($('#largura-produto').val());
                var altura = parseFloat($('#altura-produto').val());
                var medida = $('#medida-produto').val();
                nome += " [ " + largura + " X " + altura + " " + medida + " ]";
                if (document.getElementById('medida-produto').value === 'MM') {
                    preco *= largura * altura * 0.000001;
                } else if (document.getElementById('medida-produto').value === 'CM')
                    preco *= largura * altura * 0.0001;
                else if (document.getElementById('medida-produto').value === 'M') {
                    preco *= largura * altura;
                }
            }

            if (!nome || isNaN(preco) || isNaN(qtd) || qtd < 1) {
                alert('Preencha todos os campos corretamente!');
                return;
            }

            /* produtosPedido.push({
                nome: nome,
                preco_unitario: preco,
                quantidade: qtd
            }); */

            const novoProduto = {
                nome: nome,
                preco_unitario: preco,
                quantidade: qtd
            };

            // EDITAR PRODUTO
            if (indexEditando !== null) {
                produtosPedido[indexEditando] = novoProduto;
                indexEditando = null;
            } else {
                produtosPedido.push(novoProduto);
            }

            atualizarTabelaProdutos();
            $('#modal-produto').modal('hide');
        });
    });
    
    // TABELA DE PRODUTOS
    function atualizarTabelaProdutos() {
        var html = '';
        var totalPedido = 0;
        produtosPedido.forEach(function(p, idx) {
            var total = p.preco_unitario * p.quantidade;
            totalPedido += total;
            html += '<tr>';
            html += '<td>'+p.nome+'</td>';
            html += '<td>R$ '+p.preco_unitario.toFixed(2)+'</td>';
            html += '<td>'+p.quantidade+'</td>';
            html += '<td>R$ '+total.toFixed(2)+'</td>';
            //html += '<td><button class="btn-outline-danger btn-sm" onclick="removerProduto('+idx+')">Remover</button></td>';
            html += '<td>';
            html += '<button type="button" class="btn btn-sm btn-outline-primary mr-1" data-toggle="modal" data-target="#modal-produto" onclick="editarProduto('+idx+')"><span class="material-icons">edit</span></button>';
            html += '<button type="button" class="btn btn-sm btn-outline-danger" onclick="removerProduto('+idx+')"><span class="material-icons">delete</span></button>';
            html += '</td>';
            html += '</tr>';
            
        });
        valorTotal = totalPedido;
        $('#tabela-produtos tbody').html(html);
        $('#valor-final').text('R$ '+totalPedido.toFixed(2));
        $('#produtos_json').val(JSON.stringify(produtosPedido));
    }

    function removerProduto(index) {
        produtosPedido.splice(index, 1);
        atualizarTabelaProdutos();
    }

    // EDITAR PRODUTO
    function editarProduto(index) {
        const p = produtosPedido[index];
        indexEditando = index;

        $('#busca-produto').val(p.nome);
        $('#preco-produto').val(p.preco_unitario);
        $('#quantidade-produto').val(p.quantidade);
        $('#largura-produto').val('');
        $('#altura-produto').val('');
        document.getElementById('medida-produto').selectedIndex = 1;
        document.getElementById('calculo').checked = false;
        
        $('#modal-produto').modal('show');
    }

    editarPedidoForm();
    document.getElementById('valor_pago').addEventListener('input', function () {
        const inputValorPago = $('#valor_pago').val();
        if(inputValorPago > valorTotal){
            $('#valor_pago').val(valorTotal);
        } else if (inputValorPago < 0){
                $('#valor_pago').val(0);
        }
    });

    function finalizarPedido() {
        var valorPago = document.getElementById('valor_pago').value;
        if (!valorPago && valorTotal != 0) {
            alert('Por favor, informe o valor pago.');
            return;
        } else if (isNaN(valorPago) || valorPago < 0 && valorTotal === 0) {
            alert('Por favor, informe um valor pago válido.');
            return;
        } else if (valorPago < valorTotal) {
            alert('O valor pago deve ser maior ou igual ao total do pedido.');
            return;
        } else if (valorPago > valorTotal) {
            alert('O valor pago não pode ser maior que o total do pedido.');
            return;
        } else if (confirm("Tem certeza que deseja FINALIZAR o pedido?")) {
            document.getElementById('status').value = 'Finalizado';
            document.getElementById('pedido-form').submit();
        }
    }

    // -----------------SOMENTE EM ORÇAMENTO-----------------
    function gerarOrcamento() {
        if (confirm("Tem certeza que deseja gerar o orçamento como Rascunho?")) {
            document.getElementById('status').value = 'Rascunho';
            document.getElementById('orcamento-form').submit();
        }
    }

    function separarMedidas() {
        const inputText = document.getElementById('inputText').value;
        const resultadoDiv = document.getElementById('resultado');

        // Regex para encontrar o padrão [ número X número UNIDADE ]
        const regex = /\[([^\]]+)\]/; // Captura tudo entre colchetes
        const match = inputText.match(regex);

        if (match) {
            const conteudoColchetes = match[1].trim();

            // Separar as medidas e unidade
            const partes = conteudoColchetes.split(/\s+X\s+/i); // Divide pelo "X" (case insensitive)

            if (partes.length === 2) {
                // A última parte contém a unidade (pega a última palavra)
                const partesUnidade = partes[1].split(/\s+/);
                const unidade = partesUnidade.pop(); // Remove a última parte (unidade)
                const medida2 = partesUnidade.join(' '); // Junta o restante (segunda medida)

                const medida1 = partes[0].trim();

                resultadoDiv.innerHTML = `
                        <p><strong>Texto original:</strong> ${inputText}</p>
                        <p><strong>Medida 1:</strong> ${medida1}</p>
                        <p><strong>Medida 2:</strong> ${medida2}</p>
                        <p><strong>Unidade:</strong> ${unidade}</p>
                    `;
            } else {
                resultadoDiv.innerHTML = "<p>Formato de medidas não reconhecido.</p>";
            }
        } else {
            resultadoDiv.innerHTML = "<p>Nenhum valor entre colchetes encontrado.</p>";
        }
    }
    
</script>